/**
 * Site home graphic
 */
.home-intro h1 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 3rem;
}


/**
 * Quotes page styles
 */
.quotes blockquote {
	font-size: 0.8em;
	color: $text-color;
	line-height: 1.6em;
	margin-bottom: 5px;
} 

.quotes .quote-attribution {
	font-size: 0.6em;
	color: $grey-color;
	margin-bottom: 40px;
	padding-left: 20px;
}
